* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI";
}

.main {
    width: 100%;
}

.header {
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
}

.header ul {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.header ul li {
    list-style: none;
    cursor: pointer;
}

.c1 {
    text-align: center;
    font-size: 48px;
    display: flex;
    justify-content: center;
    padding: 7px;
}

.c11 {
    margin-top: 10px;
}

.c2 {
    width: 100vw;
    font-size: 23px;
    padding: 20px 300px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button {
    text-align: center;
    border: 2px solid #00b6d1;
    width: 20vw;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    background-color: #00b6d1;
    color: white;
}

.button1,
.button2 {
    text-align: center;
    border: 2px solid #00b6d1;
    width: 120px;
    font-size: 12px;
    padding: 10px;
    border-radius: 10px;
}

.button1 {
    background-color: #00b6d1;
    color: white;
}

.button2 {
    background-color: #5cb85c;
    color: white;
}

.button a {
    color: white;
    text-decoration: none;
}

.p1 {
    margin-left: 10px;
    margin-top: 12px;
    font-size: 12px;
}

.c3 {
    display: flex;
    justify-content: center;
}

.c3 div {
    font-size: 23px;
}

.h1 {
    text-align: center;
}

.c4 {
    width: 250px;
    background-color: rgb(241, 239, 239);
    border-radius: 10px;
    text-align: center;
    padding: 20px 0px;
}

.c5 {
    margin-top: 30px;
    display: flex;
    justify-content: space-evenly;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
    justify-items: center;
    align-items: center;
    margin: 0 auto;
    max-width: 800px;
    padding: 20px;
}
